@{
    ViewBag.Title = "Media Radar Ad Portal";
}
<br /><br /><br />
<p>
    Michael Evanchik take home assessment - completed on lunch break, improved code later on 8/7/2015 2:32 PM
</p>
<p>
    <ul>
        <li>All MVC no scripting other then MVC engine</li>
        <li>Used Cache that times out after 10 minutes so didnt have to keep hitting and waiting for WCF call, after first call, each page uses and re-uses the result set</li>
        <li>All and Top cover the "model" is the actual reference file in the server references section(not normally conforming to a model but it is a class and it doesnt "have" to be in the Models folder)</li>
        <li>Top Ads and Top Brands conform to using a real Model in the Model folder, so I showed both ways</li>
        <li>Used linq in both ways the sql like linq and the method based lambda</li>
        <li>Thats about it, thank you for the opportunity, I left some comments in the code where performance could improve, but that depends on its production use so I couldnt make a call, and more code-reuse could have been used for the sorting</li>        
    </ul>
</p>